on:
    push:
        branches:
            - main
    pull_request:

name: Linux

jobs:
  docker:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - build_platform: linux/amd64
            build_host: x86_64-unknown-linux-musl
            build_arch: amd64
          - build_platform: linux/arm64
            build_host: aarch64-unknown-linux-musl
            build_arch: arm64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            /tmp/.buildx-cache
          key:
            buildx-${{ matrix.build_host }}-${{hashFiles('Dockerfile')}}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: ${{ matrix.build_platform }}
      - name: Setup Qemu
        if: ${{ matrix.build_arch != 'amd64'}}
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
      - name: Docker build
        run: |
          docker buildx build --platform ${{ matrix.build_platform }} --build-arg HOST=${{ matrix.build_host }} --tag dokku-daemon-rs:latest --cache-from=type=local,src=/tmp/.buildx-cache --cache-to=type=local,dest=/tmp/.buildx-cache,mode=max --output=type=docker .
      - name: Docker help test
        run: |
          docker run --platform ${{ matrix.build_platform }} --name dokku-daemon-rs dokku-daemon-rs --help
      - name: Docker copy
        run: |
          docker cp dokku-daemon-rs:/dokku-daemon-rs dokku-daemon-rs-linux-${{ matrix.build_arch }}
      - name: ldd check
        if: ${{ matrix.build_arch == 'amd64'}}
        run: |
          ldd dokku-daemon-rs-linux-${{ matrix.build_arch }} | grep "statically linked"
          retVal=$?
          if [ $retVal -ne 0 ]; then
            ldd dokku-daemon-rs-linux-${{ matrix.build_arch }}
            echo Found local non-static refs!            
            exit 1
          fi
      - name: Archive binary
        uses: actions/upload-artifact@v6
        with:
          name: dokku-daemon-rs-linux-${{ matrix.build_arch }}
          path: dokku-daemon-rs-linux-${{ matrix.build_arch }}